#table1 {
  margin-top: 3%;
  font-size: 15px;
  background-color: #fff;
  color: #333;
}

#name {
  display: inline-flex;
  margin-top: -20px;
  background-color: rgb(89, 6, 92);
  width: 100%;
  text-align: center;
  height: 100px;
}
a:hover {
  cursor: pointer;
  color: red;
}
h1 {
  text-align: center;
  padding-left: 20px;
  padding-right: 230px;
  color: white;
}
#get1 {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 5px;
}
#get {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
}
#add {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.modal-header {
  background-color: rgba(121, 9, 115, 0.911);
  color: #fff;
}
#dtaa {
  display: inline-block;
  margin-top: 5.5%;
  margin-left: 1050px;
}
th {
  background-color: rgb(246, 244, 251);
  font-size: 25px;
}
#dtaa h5 {
  font-size: 20px;
}
.countryadder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ln3 {
  width: 98%;
  border-radius: 8px;
  border: 2px solid black;
  height: 30px;
}
.ln {
  border-radius: 5px;
  height: 40px;
  margin: 10px;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(206, 214, 222) 38%,
    rgb(138, 146, 218) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
#addTable {
  width: 60%;
  margin-left: 20%;
  font-size: 30px;
}
#lists,
#a,
#b {
  font-size: 20px;
}
#exampleModalLabel {
  font-size: 20px;
}

#menu {
  font-size: 20px;

  padding-left: 100px;
}
