#table1 {
  margin-top: 3%;
  font-size: 30px;
  margin-left: 20%;
  background-color: rgb(207, 98, 98);
  color: #333;
}

#name {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-flex;
  background-color: rgb(89, 6, 92);
  width: 100%;
  text-align: center;
  height: 70px;
}
a:hover {
  cursor: pointer;
  color: red;
}
h1 {
  text-align: center;
  padding-left: 20px;
  padding-right: 230px;
  color: white;
}
#get1 {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 5px;
}
#get {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 180px;
  padding-right: 20px;
}
#add {
  color: rgb(233, 236, 9);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.modal-header {
  background-color: rgba(121, 9, 115, 0.911);
  color: #fff;
}
#dtaa {
  display: inline-block;
  margin-top: 5.5%;
  margin-left: 1050px;
}
th {
  background-color: rgb(110, 106, 114);
  color: white;
}
#dtaa h5 {
  font-size: 20px;
}
.countryadder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ln3 {
  width: 98%;
  border-radius: 8px;
  border: 2px solid black;
  height: 30px;
}
.ln {
  border-radius: 5px;
  height: 40px;
  margin: 10px;
}
#addTable {
  width: 50%;
  margin-left: 20%;
  font-size: 30px;
}